<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>api/unique</title>
    <style>
        table {
            width: 50%;
            margin: 20px auto;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
    <table>
        <tr>
            <th>unique fruits in basket_a</th>
        </tr>
        {% for fruit in fruits_a %}
        <tr>
            <td>{{ fruit }}</td>
        </tr>
        {% endfor %}
    </table>
    <table>
        <tr>
            <th>unique fruits in basket_b</th>
        </tr>
        {% for fruit in fruits_b %}
        <tr>
            <td>{{ fruit }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
